template(name='listBooks')
  .container
    h1 Lista de livros
    each books
      +eachBook


template(name='eachBook')
  if title
    .card.small(data-bk="#{_id}")
      .card-image.wave-effect.waves-block.waves-light
        if image
          img.activator(src="#{image}")
      .card-content
        span.card-title.activator #{title}
          i.material-icons.right.bookDesc more_vert
        p
          b Autor:
          span #{author}
        a.waves-effect.waves-light.btn.red.removeBook remover
          i.material-icons.left delete
        a.waves-effect.waves-light.btn.getBook emprestar
          i.material-icons.left open_in_new
      .card-reavel
        span.card-title #{title}
          i.material-icons.right.closeDesc close
        p #{description}
